.main-menu a{

    color: white;
    text-decoration: none;
    cursor: pointer;
}

.main-menu{

    width: 100%;


    margin: auto;
    
    margin-top: 2rem;
    border-bottom: 1px solid gray;
}

.main-menu li{
    display:  inline;
    padding: 1.5rem;
    font-style:normal;
    padding-left: 4rem;
  
}